@font-face { 
    font-family: space; 
    src: url('SpaceMono-Regular.ttf') format('truetype'); 
    font-style: normal;
}

.header{
    font-family: space;
}

  /* Increase the font size of the heading */
.header h1 {
    text-align: center;
    font-size: 40px;
}
  
.header p{
    text-align: center;
}
  
.main h1{
    text-align: center;
    font-family: space;
}