
.bg {
  margin: 0;
  display: flex;
  height: 60vh;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  background-size: 400% 400%;
  background-image: linear-gradient(
    -45deg,
    rgb(65, 229, 251) 0%,
    rgb(121, 165, 240) 25%,
    rgb(62, 55, 55) 51%,
    rgb(117, 36, 36) 100%);  
  animation: AnimateBG 20s ease infinite;
  color: whitesmoke;
}

/*.banner {
  width:100%;
  //height: 250vh;
  padding: 100px;
  text-align: center;
  color: white;
}*/

@keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}